body {
    background-image: url("img/bgE.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    background-color: #ffffff;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
  }
  

#uploadSection {
    width: 40%;
    text-align: center;
    margin: 15px auto;
}


#fileForm #fileInput{
    display: none;
}
#fileForm #fileLabel{
    display: block;
    padding: 50px;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.footer {
    border-top: 1px solid #e7e7e7;
    background-color:transparent;
    line-height: 15px;
}

@media (max-width: 415px){
 
    
    #uploadSection {
    width: 70%;
    text-align: center;
    margin: 15px auto;
    }

    #fileForm #fileLabel{
        background-color:rgba(0, 0, 0, 0.219)!important;;
        display: block;
        padding: 35px;
        cursor: pointer;
        border: 1px solid #ced4da;
        border-radius: 5px;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    #fileForm #fileLabel .dragLabel{
        display: none;
    }
    .footer {
        border-top: 1px solid #e7e7e7;
        background-color:transparent;
        line-height: 7px;
        
    }
        
}